spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
jwt:
  secret: "bW9ja19iYXNlNjRfMTIzNDU2Nzg5MGFiY2RlZg=="
  expiration: 3600000
