/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*Alerts*/
.mat-mdc-snack-bar-container.snack-success .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snack-error .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snack-info .mdc-snackbar__surface {
  background-color: #2196f3 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snack-warn .mdc-snackbar__surface {
  background-color: #ff9800 !important;
  color: white !important;
}

